:root{
  --bg:#0f1220;
  --card:#171a2e;
  --accent:#8b9cff;
  --text:#ffffff;
  --muted:#b6b9ff;
  --shadow:0 20px 40px rgba(0,0,0,.5);
}

*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family: "Inter", sans-serif;
}

body{
  min-height:100vh;
  background:url(./image/40fd0be15cdde_434938.jpg!sw800);
  background-repeat: no-repeat;
  background-size: cover;
  display:flex;
  align-items:center;
  justify-content:center;
  color:var(--text);
}

.wrapper{
  text-align:center;
  padding:30px;
}

/* Heading */
.heading h1{
  font-size:5.2rem;
  font-weight:700;
  color:#ffffff;
   text-shadow:
    0 10px 30px rgba(0,0,0,.6),
    0 0 10px rgba(255,255,255,.25);
}
 

.heading h3{
  font-size:1.05rem;
  font-weight:600;
  color:rgba(255,255,255,0.92);
  letter-spacing:.4em;
  text-transform:uppercase;
  text-shadow:0 2px 6px rgba(0,0,0,.45);
}

/* Countdown */
.countdown{
  display:flex;
  gap:24px;
  margin-top:60px;
  justify-content:center;
  flex-wrap:wrap;
}

.box{
  width:150px;
  height:170px;
  background:var(--card);
  border-radius:20px;
  box-shadow:var(--shadow);
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  transition:.3s ease;
}

.box:hover{
  transform:translateY(-6px);
}

/* Number */
span.num{
  font-size:3.8rem;
  font-weight:600;
  color:var(--accent);
}

/* Text */
span.text{
  margin-top:10px;
  font-size:.8rem;
  letter-spacing:.3em;
  color:#cfd3ff;
  text-transform:uppercase;
}

/* Mobile */
@media(max-width:600px){
  .box{
    width:120px;
    height:140px;
  }
  span.num{
    font-size:3rem;
  }
}
